$primary: #fe515f;

.signup-form {
    background: $primary;
    padding: 40px 0;
    &__items {
        display: flex;
        width: 60%;
        margin: 20px auto;
        background: #fff;
        border-radius: 20px;
        padding: 20px 5%;
        flex-direction: column;
        @media (max-width: 768px) {
            width: 86%;
            
        }
    }
  
    &__category {
        border: 3px solid black;
        padding: 2px 6px;
        text-align: center;
        cursor: pointer;
        
        &.selected {
            border: 3px solid red;
        }
        @media (max-width: 768px) {
            margin: 5px 20px;
        }
    }
    &__location {
        border: 3px solid black;
        padding: 5px 10px;
        cursor: pointer;
        & + .signup-form__location {
            margin-top: 20px;
            
        }
        &.selected {
            border: 3px solid red;
        }
    }
    
    
}

@media (max-width: 768px) {
    .navbar-brand {
      width: 60%;
      img {
        width: 100%;
      }
    }
    .navbar-nav {
      margin: 0;
    }
    .nav-item {
      text-align: center;
      margin-left: 0 !important;
    }
    .dropdown-item {
      text-align: center;
    }
  }